
@font-face {
    font-family: g-t;
    src: url("../assets/fonts/graphik-arabic-thin.OTF");
}

@font-face {
    font-family: g-l;
    src: url("../assets/fonts/graphik-arabic-light.OTF");
}

@font-face {
    font-family: g-n;
    src: url("../assets/fonts/graphik-arabic.OTF");
}

@font-face {
    font-family: g-b;
    src: url("../assets/fonts/graphik-arabic-bold.OTF");
}