
body{
    margin: 0 auto;
    width: 90%;
}

.header{
    border-radius: 0 0 30px 30px;
}

.heaeder--menu{
    margin: 0 auto;
    width: 95%;
}

.heaeder--menu nav{
    padding: 15px 20px !important;
}

.header--menu__logo img{
    width: 70%;
}

.header--menu__navbar a{
    color: #403d39;
    text-decoration: none;
    transition: 0.3s;
}

.header--menu__navbar a:hover:not(#active){
    color: #fdd655;
}

.header--menu__navbar #active{
    color: #fdd655;
}

.header--hero-sec__img img{
    width: 90%;
}

.header--hero-sec__txt div{
    width: 100%;
    justify-content: start;
}

.header--hero-sec__txt p, h1{
    padding: 0;
    margin: 0;
}

.header--hero-sec__txt h1{
    margin: -10px 0;
    font-family: g-b,'Courier New', Courier, monospace;
    font-size: 55px;
    color: #403d39;
}

.header--hero-sec__txt p{
    font-family: g-l,'Courier New', Courier, monospace;
    font-size: 20px;
    color: #9d9e9b;
}

.header--hero-sec__txt a{
    width: 30%;
    padding: 10px 15px;
    font-family: g-n,'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: #403d39;
    border-radius: 20px 0 20px 20px;
    transition: 0.3s;
}

.header--hero-sec__txt a:hover{
    background-color: #fdd655 !important;
    color: #403d39;
}

.header--hero-sec__txt a:focus{
    border: none;
}

.feature-sec{
    position: relative;
    padding: 20px 35px;
    margin-top: 60px;
}

.feature-item{
    position: relative;
    z-index: 2;
}

.feature-content{
    position: relative;
    z-index: 2;
    transition: 0.3s;
}

.feature-icon{
    height: 70px;
}

.feature-text{
    margin: 0;
    font-family: g-b, 'Courier New', Courier, monospace;
    font-size: 17px;
    text-align: center;
}

.bar{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 15px;
    width: 40%;
    border-radius: 7px;
    height: 30px; 
    background-color: #a1c188;
    z-index: 1;
    transition: 0.3s;
}

.feature-item:hover .bar{
    width: 90%;
}

#rectangle-puplare{
    width: 35px;
    margin-right: 20%;
    margin-top: 60px;
}

.portfolio-title p{
    font-family: g-n,'Courier New', Courier, monospace;
    color: #403d39;
    font-size: 18px;
}

.portfolio-title .h2{
    position: relative;
}

.portfolio-title span{
    width: 100%;
    position: absolute;
    border: 1px solid #c6c6c6;
    border-style: dashed;
    z-index: 1;
}

.portfolio-title h2{
    position: relative;
    background-color: #fff;
    padding: 0 20px;
    font-family: g-b,'Courier New', Courier, monospace;
    font-size: 30px;
    z-index: 2;
}

.portfolio-content{
    scroll-behavior: smooth;
    user-select: none;
    cursor: pointer;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.portfolio-content::-webkit-scrollbar{
    display: none;
}

.portfolio-item{
    width: 25%;
    flex: 0 0 auto;
    overflow: hidden;
}

.portfolio-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.portfolio-img img{
    pointer-events: none;   
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-des{
    border-top: 1px solid #c6c6c6;
}

.portfolio-txt p{
    font-size: 16px;
    color: #403d39;
}

.portfolio-btn a{
    font-size: 15px;
    padding: 8px 20px;
    background-color: #403d39;
    color: #f7f7ef;
}

.portfolio-btn a:hover{
    background-color: #fdd655;
}

.portfolio-btn a:focus{
    border: none;
}

.plans{
    margin-top: 100px;
}

.plans-title p{
    font-family: g-n,'Courier New', Courier, monospace;
    color: #403d39;
    font-size: 18px;
}

.plans-title .h2{
    position: relative;
}

.plans-title span{
    width: 100%;
    position: absolute;
    border: 1px solid #c6c6c6;
    border-style: dashed;
    z-index: 1;
}

.plans-title h2{
    position: relative;
    background-color: #fdf2ba;
    padding: 0 20px;
    font-family: g-b,'Courier New', Courier, monospace;
    font-size: 30px;
    z-index: 2;
}

.plans-content{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.plans-item{
    position: relative;
    z-index: 2;
    width: 70%;
    transition: 0.3s;
}

.plans-item:hover{
    transform: scale(1.05);
}

.plans-item div{
    overflow: hidden;
}

.plans-bar{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 20px;
    width: 40%;
    border-radius: 7px;
    height: 30px;
    background-color: #fdd655;
    z-index: -1;
    transition: 0.3s;
}

.plans-item:hover .plans-bar{
    width: 95%;
}

.plans-img{
    justify-content: center;
    align-items: center;
}

#plans-img--rank-1{
    background-color: #fdd655;
}

#plans-img--rank-2{
    background-color: #fee699;
}

#plans-img--rank-3{
    background-color: #fff7dd;
}

.plans-img img{
    padding: 0 0 0 10px;
    width: 55%;
}

.plans-des--title h4{
    font-size: 20px;
    color: #7b7875;
}

.plans-des--title h5{
    font-size: 18px;
}

.plans-des--list li{
    list-style-type: none;
    color: #7b7875;
    margin-top: 5px;
    font-family: g-l,'Courier New', Courier, monospace;
    font-size: 17px;
}

.plans-des--btn a{
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 30px 0 30px 30px;
    background-color: #403d39;
    color: #f7f7ef;
}

.plans-des--btn a:hover{
    background-color: #fdd655;
}

.offer-banner{
    padding: 40px 0;
    background-image: url("../assets/images/banner-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.offer-banner h3{
    color: #403d39;
    font-family: g-b;
    font-size: 40px;
}

.offer-banner p{
    color: #7b7875;
    font-family: g-l;
    font-size: 25px;
}


/* responsive */
@media (max-width: 1025px){
    .heaeder--menu nav{
        padding: 15px 20px !important;
    }

    .header--menu__logo img{
        width: 70%;
    }

    .header--menu__navbar a{
        font-size: 15px;
    }

    .header--hero-sec__img img{
        width: 100%;
    }
    
    .header--hero-sec__txt h1{
        font-size: 45px;
    }
    
    .header--hero-sec__txt p{
        font-size: 20px;
    }
    
    .header--hero-sec__txt a{
        width: 40%;
        font-size: 15px;
    }

    #rectangle-puplare{
        width: 30px;
        margin-right: 30%;
        margin-top: 40px;
        margin-bottom: -40px;
    }

    .feature-sec{
        display: flex !important;
        flex-wrap: nowrap !important;
        overflow-x: auto !important;
    }

    .feature-sec::-webkit-scrollbar {
        display: none;
    }

    .feature-item{
        flex: 0 0 auto !important;
        width: 40%;
    }

    .portfolio-item{
        width: 35%;
    }

    .plans-item{
        width: 90%;
    }

    .plans-des--btn a{
        font-size: 16px;
    }

    .offer-banner h3{
        font-size: 35px;
    }
    
    .offer-banner p{
        font-size: 20px;
    }
}

@media (max-width: 769px){
    .heaeder--menu nav{
        padding: 15px !important;
    }

    .header--menu__logo img{
        width: 90%;
    }

    .header--menu__navbar a{
        font-size: 13px;
    }
    
    .header--hero-sec__txt h1{
        font-size: 37px;
    }
    
    .header--hero-sec__txt p{
        font-size: 17px;
    }
    
    .header--hero-sec__txt a{
        width: 50%;
        font-size: 13px;
    }

    .feature-item{
        flex: 0 0 auto !important;
        width: 40%;
    }

    .portfolio-item{
        width: 45%;
    }

    .plans-item{
        width: 55%;
    }

    .plans-img img{
        width: 30%;
    }

    .plans-des--list li{
        text-align: center;
    }

    .offer-banner h3{
        font-size: 30px;
    }
    
    .offer-banner p{
        font-size: 18px;
    }
}

@media (max-width: 426px){
    .heaeder--menu nav{
        padding: 15px !important;
    }

    .header--menu__logo img{
        width: 60%;
    }

    .header--menu__bar{
        font-size: 25px;
    }

    .header--hero-sec__txt h1{
        font-size: 35px;
    }
    
    .header--hero-sec__txt p{
        font-size: 15px;
    }
    
    .header--hero-sec__txt a{
        width: 45%;
        font-size: 15px;
    }

    .header--hero-sec__img img{
        width: 75%;
    }

    .feature-sec{
        margin-top: 30px;
    }

    #rectangle-puplare{
        width: 25px;
        margin-right: 25%;
        margin-top: 30px;
        margin-bottom: -40px;
    }
    
    .portfolio-title h2{
        padding: 0 10px;
        font-size: 20px;
    }

    .feature-item{
        flex: 0 0 auto !important;
        width: 75%;
    }

    .portfolio-item{
        width: 80%;
    }

    .plans-title h2{
        padding: 0 10px;
        font-size: 20px;
    }

    .plans-title p{
        font-size: 15px;
    }

    .plans-content{
        margin-top: 30px;
    }

    .portfolio-btn a{
        font-size: 13px;
        padding: 5px 10px;
    }
    
    .plans-item{
        width: 75%;
    }

    .plans-bar{
        left: 5px;
    }

    .offer-banner{
        padding: 75px 0;
    }

    .offer-banner h3{
        font-size: 25px;
    }
    
    .offer-banner p{
        font-size: 18px;
    }
}

@media (max-width: 376px){
    .heaeder--menu nav{
        padding: 15px !important;
    }

    .header--menu__logo img{
        width: 65%;
    }

    .header--menu__bar{
        font-size: 25px;
    }
    
    .header--hero-sec__txt h1{
        font-size: 30px;
    }
    
    .header--hero-sec__txt p{
        font-size: 13px;
    }
    
    .header--hero-sec__txt a{
        font-size: 13px;
    }

    #rectangle-puplare{
        width: 20px;
        margin-right: 8%;
    }

    .feature-item{
        flex: 0 0 auto !important;
        width: 85%;
    }

    .portfolio-item{
        width: 95%;
    }

    .plans-title h2{
        font-size: 17px;
    }

    .plans-title p{
        font-size: 13px;
    }
    
    .plans-des--title h4{
        font-size: 15px;
    }
    
    .plans-des--title h5{
        font-size: 14px;
    }

    .plans-item{
        width: 80%;
    }

    .plans-des--list li{
        font-size: 15px;
    }

    .plans-des--btn a{
        padding: 5px 15px;
        font-size: 13px;
    }

    .offer-banner h3{
        font-size: 22px;
    }
    
    .offer-banner p{
        font-size: 14px;
    }
}

@media (max-width: 321px){
    .heaeder--menu{
        width: 93%;
    }

    .heaeder--menu nav{
        padding: 10px !important;
    }

    .header--hero-sec__txt h1{
        font-size: 25px;
    }
    
    .header--hero-sec__txt p{
        font-size: 12px;
    }
    
    .header--hero-sec__txt a{
        font-size: 11px;
    }

    .feature-item{
        flex: 0 0 auto !important;
        width: 100%;
    }

    .feature-text{
        font-size: 16px;
    }

    .portfolio-title h2{
        font-size: 17px;
    }

    .portfolio-item{
        width: 90%;
    }

    .portfolio-txt p{
        font-size: 14px;
    }

    .portfolio-btn a{
        font-size: 12px;
        padding: 5px 10px;
    }

    .plans-title h2{
        padding: 0 10px;
        font-size: 15px;
    }

    .plans-title p{
        font-size: 10px;
    }

    .plans-item{
        width: 85%;
    }

    .offer-banner{
        padding: 60px 0;
    }

    .offer-banner h3{
        font-size: 20px;
    }
    
    .offer-banner p{
        font-size: 15px;
    }
}